@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins", sans-serif;
    }
}

@layer components {
    .custom-skeleton {
        background-color: #e5e7eb; /* bg-gray-300 */
        position: relative;
        overflow: hidden;
    }

    .custom-skeleton::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.4),
            transparent
        );
        animation: shimmer 2s infinite;
    }

    @keyframes shimmer {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }
}
